#log {
	height:180px;
	width:500px;
	border:1px solid black;
	font:16px/26px Georgia, Garamond, Serif;
	overflow:auto;
}

#resources {
	border:1px solid black;
	border-top: none;
	font:16px/26px "Arial Verdana";
}

.logMsg {
	border-bottom: 1px solid lightgray;
	padding-left: 5px;
	padding-right: 20px;
}

#content {
	display: flex;
	flex-wrap: wrap;
	width: 750px;
}

#resourceCollection {
	display:flex;
	flex-wrap: wrap;
}

#resourceCollection > table {
	width: 200px;
	text-align: left;
 	white-space: nowrap; 
}